__pycache__/
*.py[cod]
*$py.class

venv/
.venv/

.env
.env.*

.ipynb_checkpoints/

.vscode/

.DS_Store

build/
dist/
*.spec

htmlcov/
.tox/
.nox/
.coverage
coverage.xml
.cache
.pytest_cache/

*.log

.mypy_cache/

*.pt
*.pth
*.h5
*.ckpt
*.joblib

*.zip
*.tar.gz

*.sqlite3
media/
staticfiles/
.DS_Store
